html {
    background-color: #fcfcfc;
    font-family: sans-serif;
    font-size: 100%;
    border-top: 10px solid #1A1816;
    margin-bottom: -10px;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.page-wrapper {
    max-width: 990px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    box-shadow: 0 5px 6px -6px #1A1816;
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}

header .title {
    flex-grow: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}

header .nav-links a {
    text-decoration: none;
    margin-left: 15px;
    padding-right: 15px;
    border-right: 1px solid gray;
    text-transform: uppercase;
    color: black;
}

header .nav-links a:last-child {
    border: none;
}

header .nav-links a:hover {
    text-decoration: underline;
    color: gray;
}

footer {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    padding: 10px;
    font-size: small;
    border-top: 2px solid #ada094;
}

footer a {
    padding: 0 10px;
    color: black;
    text-decoration: none;
    border-right: 1px solid gray;
}

footer a:last-child {
    margin-right: 10px;
}

header .nav-links a:last-child {
    border: none;
}

footer a:hover {
    text-decoration: underline;
    color: gray;
}

/* ABOUT PAGE */

.about-images {
    margin: 40px 0px;
}

.item {
    display: inline-block;
}

.polaroid {
    background: #fff;
    padding: 15px;
    box-shadow: 0 0.2rem 1.0rem rgba(0, 0, 0, 0.5);
}

.polaroid>img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

.item:nth-of-type(1) {
    transform: rotate(-5deg);
    position: relative;
}

.item:nth-of-type(2) {
    transform: rotate(5deg);
}

.item:nth-of-type(3) {
    transform: rotate(2deg);
}

.item:nth-of-type(4) {
    transform: rotate(-2deg);
}

.item:nth-of-type(5) {
    transform: rotate(6deg);
}

.item:nth-of-type(6) {
    transform: rotate(-4deg);
}

/* PHOTOGRAPHS PAGE */

.gallery {
    /* Set the number of columns */
    column-count: 2;
    /* Adjust the horizontal spacing between columns */
    column-gap: 10px;
}

.gallery-item {
    /* Prevent items from breaking across columns */
    break-inside: avoid-column;
    /* Adjust the vertical spacing between items */
    margin-bottom: 15px;
}

.gallery-item img {
    max-width: 100%;
    /* max-width: 485px; */
    height: auto;
    display: block;
}

/* Media query for small screens (e.g., screens narrower than 768px) */
@media (max-width: 768px) {
    .gallery {
        /* Display one column for small screens */
        column-count: 1;
    }
}

/* @media (max-width: 1000px) {
    .gallery-item img {
        max-width: 200px;
    }
} */