<header>
  <a class="title" href="/">Dan Kraus</a>
  <nav>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/photographs/">Photographs</a>
      <!-- <a href="/projects/">Projects</a> -->
      <!-- <a href="/blog/">Blog</a> -->
    </div>
  </nav>
</header>
