---
import { Image } from "astro:assets";
const { imagePath, title } = Astro.props;
---

<div class="item">
  <div class="polaroid">
    <Image src={imagePath} width="275" title={title} alt={title} />
  </div>
</div>
